<div class="ui container">
  <div class="ui top attached segment box">
    <h2>Forgot your password?</h2>
    <hr>
    <form class="ui form" action="/forgot" method="POST">
      <div class="field">
        <label>Email:</label>
        <input type="text" name="email" autofocus placeholder="name@email.com">
      </div>
      <button class="ui orange button">Submit</button>
    </form>
  </div>
</div>