<!-- Image slides -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active resize-img">
      <img class="d-block w-100" src="/img/blueprint.jpg" alt="First slide">
    </div>
    <div class="carousel-item resize-img">
      <img class="d-block w-100" src="/img/roof-tile.jpg" alt="Second slide">
    </div>
    <div class="carousel-item resize-img">
      <img class="d-block w-100" src="/img/construction-worker.jpg" alt="Third slide">
    </div>
    <div class="carousel-item resize-img">
      <img class="d-block w-100" src="/img/street-view.jpg" alt="Fourth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-sm-8 border border-light">
      <h2 class="mt-4">Serving San Diego Since <span class="bigger">1982</span></h2>
      <p>Is your home suffering from a leaking roof or are most of the shingles badly worn or damaged? You are in urgent need of experienced and reliable roof repairs. If your previous roofer was unprofessional with you, don’t be afraid. TA Marsh Roofing has clear contracts and performs reliable and affordable roofing repairs for all residents of the San Diego, CA area. You won’t find a better choice than TA Marsh Roofing. We have <strong>36 years of experience</strong> as roofing contractors and won’t take advantage of your trust.</p>
      <div class="contact-us"
        <h4>Give us a  <abbr title="Phone">call</abbr> (619) 669-1600</h4>
      </div>
      <div class="reviews">
        <a class="btn btn-primary btn-lg" href="/reviews">See what others are saying &raquo;</a>
      </div>
    </div>
    <div class="col-sm-4 border border-secondary rounded estimate">
      <p class="mt-4">Request your <strong>FREE</strong> estimate</p>
      <hr>
      <div class="row estimate-form">
        <form action="/user" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="email@yourmail.com">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="phone" placeholder="Phone #">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" name="comment">I would like my free initial consultation!</textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-12 col-lg-4 my-4">
      <div class="card">
        <img class="card-img-top" src="/img/blue-sky.jpg" alt="tiles">
        <div class="card-body">
          <h4 class="card-title">Roofing System & Service</h4>
          <p class="card-text">Do you have issues with your roof? Do you need repairs? Are you thinking this would consume most of your time? Then you will be pleased to know about us! TA Marsh Roofing’s repairs service is fast and efficient because we can handle each and every project the right way, from the start!</p>
        </div>
        <div class="card-footer">
          <a href="/services" class="btn btn-primary more-button">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 my-4">
      <div class="card">
        <img class="card-img-top" src="/img/sheet-metal.jpg" alt="outside">
        <div class="card-body">
          <h4 class="card-title">Sheet Metal</h4>
          <p class="card-text">We use the latest installation tools and a large range of metal fabrications to complete our projects. We work only with well known and reliable suppliers of structural components which guarantees the success of our projects. We will provide you and your roof with the best quality service you can find.</p>
        </div>
        <div class="card-footer">
          <a href="/services" class="btn btn-primary more-button">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 my-4">
      <div class="card">
        <img class="card-img-top" src="/img/business.jpg" alt="business">
        <div class="card-body">
          <h4 class="card-title">Forensic Consultants</h4>
          <p class="card-text">T.A. Marsh Roofing provides complete litigation and non litigation consulting services including inspections, testing, repair recommendations and cost as well as testimony representing defendants, plaintiffs, manufactures and carriers</p>
        </div>
        <div class="card-footer">
          <a href="/services" class="btn btn-primary more-button">Find Out More!</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
