<!-- Image slides -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active resize-img">
      <img class="d-block w-100" src="/img/blueprint.jpg" alt="First slide">
    </div>
    <div class="carousel-item resize-img">
      <img class="d-block w-100" src="/img/roof-tile.jpg" alt="Second slide">
    </div>
    <div class="carousel-item resize-img">
      <img class="d-block w-100" src="/img/construction-worker.jpg" alt="Third slide">
    </div>
    <div class="carousel-item resize-img">
      <img class="d-block w-100" src="/img/street-view.jpg" alt="Fourth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">What We Do</h2>
      <p>Our experience as a Roofing, General and Prime Contractor as well as Forensic Consultant/Expert Witness provides a wealth of knowledge to assist you in your roofing construction and consulting projects or cases. Our intention is to provide you with a pleasant effortless experience for your project or case. We maintain a staff of skilled roofers, sheet metal, carpenters and inspectors for construction defect and non litigation inspections. We provide services for Commercial, Industrial and Residential projects. Our areas of service include California, Arizona and Nevada. We provide inspections for sale and purchase of Commercial, Industrial and Residential properties. Our scope of work ranges from small repairs to multimillion dollar projects.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/reviews">See what others are saying &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4">
      <p class="mt-4" id="consultation">Request your <strong>FREE</strong> consultation</p>
      <div id="box" class="row">
        <form action="/user" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="email@yourmail.com">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="phone" placeholder="Phone #">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" name="comment">I would like my free initial consultation!</textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-12 col-lg-4 my-4">
      <div class="card">
        <img class="card-img-top" src="/img/under-construction.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Roofing System & Service</h4>
          <p class="card-text">Wayfarers cronut messenger bag XOXO four loko PBR&B fixie banjo. Man braid viral bespoke four dollar toast try-hard, cred iPhone kale chips. Sartorial deep v 3 wolf moon air plant truffaut, VHS pour-over tilde pickled.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary more-button">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 my-4">
      <div class="card">
        <img class="card-img-top" src="/img/under-construction.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Consultations</h4>
          <p class="card-text">Wayfarers cronut messenger bag XOXO four loko PBR&B fixie banjo. Man braid viral bespoke four dollar toast try-hard, cred iPhone kale chips. Sartorial deep v 3 wolf moon air plant truffaut, VHS pour-over tilde pickled.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary more-button">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 my-4">
      <div class="card">
        <img class="card-img-top" src="/img/under-construction.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Construction</h4>
          <p class="card-text">Wayfarers cronut messenger bag XOXO four loko PBR&B fixie banjo. Man braid viral bespoke four dollar toast try-hard, cred iPhone kale chips. Sartorial deep v 3 wolf moon air plant truffaut, VHS pour-over tilde pickled.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary more-button">Find Out More!</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
