
<div class="ui middle aligned center landing">
  <div class="column">
    <form class="ui fluid form" action="/login" method="POST">
      <div class="ui stacked segment">
        <div class="landing-logo">
          <img src="/img/sartorius.jpg" alt="sartorius">
        </div>
        <br>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="User Name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large orange submit button">Login To Get Started</button>
      </div>
    </form>

    <div class="ui message">
      New to us? <a href="/register">Create Account</a>
    </div>
  </div>
</div>
