<div class="content">
  <div class="logo">
    <img src="../img/epratt-webdev.png" alt="epratt logo">
  </div>
  <div class="black-bar">
    <h2 class="coming-soon">new site coming soon</h2>
  </div>
</div>

