{{!-- top black box --}}
<div class="container-fluid black">
  <div class="text-center">
    <img src="../img/epratt.png" class="rounded" alt="...">
  </div>
</div>

{{!-- navigation --}}
<div class="navigation">
  <nav class="navbar navbar-dark bg-dark">
    <form class="form-inline mx-auto">
      <button class="btn btn-outline-secondary" type="button">home</button>
      <button class="btn btn-outline-secondary" type="button">portfolio</button>
      <button class="btn btn-outline-secondary" type="button">contact</button>
    </form>
  </nav>
</div>

{{!-- body --}}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      </div>
      <div class="col-9 grey">
        <div class="text-center">
          <h1>site under construction</h1>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>