
    <main role="main">

      <section class="jumbotron text-center landing">
        <div class="container">
          <h1 class="jumbotron-heading"><i class="fas fa-laptop-code"></i> Eric Pratt - freelance developer</h1>
          <p class="lead text-muted">Have some web work you need done but aren't sure where to begin? I'm your dude.</p>
          <p>
            <a href="/me" class="btn btn-success my-2">get to know me</a>
            <a href="#" class="btn btn-secondary my-2">some past work</a>
          </p>
        </div>
      </section>

    </main>

  