<main class="main">
  
  <div class="container">
    <div class="row">

      
      <div class="card bg-dark text-white">
        <img class="card-img" src="../img/me.jpg" alt="Card image">
        <div class="card-img-overlay">
          <div id="first-card">
            <h3 class="card-title">A little about <span class="big">me</span></h3>
            <p class="card-text">I'm a pretty typical San Diegan. I prefer working from where inspiration strikes.</p>
            <p class="card-text offset">*Usually after I've had a few waves</p>
            <p class="card-text">No time to towel off, we've got work to do!</p>
            <p class="card-text offset">**after a run to the taco shop</p>
          </div>
          <div id="second-card">
            <p class="card-text">When I'm not out in the water or at the nearest taco shop, rest assured I'm working hard on <span class="big">Your</span> project.</p>
            <p class="card-text">Lets get to work.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>