<main class="main">
  
  <div class="container">
    <div class="row">

      
      <div class="card bg-dark text-white">
        <img class="card-img" src="../img/me.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h3 class="card-title">A little about <span class="big">me</span></h3>
          <div id="first-card">
            <p class="card-text">I'm a pretty typical San Diegan. I prefer working from where inspiration strikes. <span class="offset">*Usually after I've had a few waves</span></p>
            <p class="card-text">No time to towel off, we've got work to do! <span class="offset">**after that breakfast burrito, of course</span></p>
          </div>
          <div id="second-card">
            <h3 class="card-title">I am <span class="big">your</span> local web developer.</h3>
            <p class="card-text"><span class="offset"></span></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>