<main class="main">

   <div class="album py-5 landing">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../img/MarshSS.png" alt="TA Marsh">
                <div class="card-body">
                  <p class="card-text">TA Marsh Roofing. Keeping a roof over San Diegans for 36 years and counting!</p>
                  <p>
                    <a href="https://tamarshroofing.herokuapp.com" class="btn btn-primary btn-block">Go To Page</a>
                  <p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../img/SartoriusSS.png" alt="Sartorius">
                <div class="card-body">
                  <p class="card-text">In house web-app for team members. App allows the members to sign up, sign in, make a post & have a user profile.</p>
                  <p>
                    <a href="../img/SartoriusSS.png" class="btn btn-warning btn-block">View Snapshot</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../img/laptop.jpg" alt="laptop photo">
                <div class="card-body">
                  <p class="card-text">More content coming soon!</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

</main>