<div class="ui container">
  <div class="ui top attached segment sign-up">
    <h2>Create New Account</h2>
    <hr>
    <form class="ui form" action="/register" method="POST">
      <div class="field">
        <label>USER NAME:</label>
        <input type="text" name="username" placeholder="username">
      </div>
      <div class="field">
        <label>PASSWORD:</label>
        <input type="password" name="password" placeholder="password">
      </div>
      <button class="ui orange button">sign up</button>
    </form>
  </div>
</div>
