<!-- Page Content -->
<div class="container">
  <div class="main-content">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="mt-4">What are people saying about us?</h2>
        <hr>
        <p><strong>Always a pleasure working with TA Marsh Roofing</strong><p>
        <p>"Our office has had the opportunity of working with TA Marsh Roofing over the past 20 years. Their expertise in the roofing and construction industries, along with the quality of their litigation expert services has been an invaluable asset to our consulting team. It is always a pleasure working with TA Marsh Roofing and their staff and we look forward to continuing our mutually beneficial working relationship."</p>
        <p>Perry Consulting Group, Inc.</p>
        <p>Robert Burnett Perry, AIA, NCARB, LEED AP, President</p>
        <hr>
        <p><strong>A valuable member of the consulting team</strong><p>
        <p>"My firm and I have worked with TA Marsh Roofing for over 23 years. Collaborations have ranged from our involvement as the architects on reconstruction projects installed by TA Marsh Roofing to consultants for litigation - as team members or in adversarial positions. Capabilities in the roofing and construction industries and skill as litigation experts have made TA Marsh a valuable member of the consulting team in either of those functions. I would recommend their services to anyone in need of roofing or consulting services."</p>
        <p>Bob Carroll AIA.</p>
        <hr>
        <p><strong>We would recommend TA Marsh Roofing to anyone</strong><p>
        <p>"TA Marsh Roofing has provided Roofing, Waterproofing and Sheet Metal services for Luth and Turley General and Flooring Contractors for 29 years. We have been extremely pleased with their prompt attention, meticulous clean up and customer service. The quality of the work they provided has been exceptional. We would recommend TA Marsh Roofing to anyone requiring roofing or other services they provide."</p>
        <p>Cal Turley</p>
        <p>Luth and Turley Inc.</p>
        <hr>
        <p><strong>Left the construction areas clean and safe</strong><p>
        <p>"TA Marsh Roofing has provided a large range of roofing services for the Julian Union School Districts for over 26 years. They have provided assistance to our architects as far as optional products, specifications and detailed information for our roofing and construction needs. Each time TA Marsh Roofing has executed their work without disruption to the students or our curriculum and the finished product has been of the highest quality. TA Marsh Roofing's crews always left the construction areas clean and safe for the children and staff during construction. Their work was completed on time and has always exceeded our expectations. Additionally, when needed for emergency repairs, Tim and his crew have responded immediately. Thanks Tim and Greg for all your hard work and continued assistance."</p>
        <p>Kevin Ogden</p>
        <p>Superintendent</p>
      </div>
      <div class="col-sm-4">
        <h2 class="mt-4" id="contact">Contact Us</h2>
        <address>
          <strong>TA Marsh</strong>
          <strong>Roofing & Consultation</strong>
          <br>PO Box 925
          <br>Jamul, CA 91935
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (619) 669-1600
          <br>
        </address>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
