<div class="container">
  <div class="main-content">
    <div class="row">
      <div class="col-sm-8 border border-light">
        <h1 class="mt-4">What We Do:</h1>
        <hr>
        <p><span style="font-size: 2rem">Satisfy</span>. TA Marsh Roofing is one of the leading roofing contractors serving San Diego, CA and its surrounding areas. As a reliable roofer, we promise you 100% satisfaction with our roof repairs and new roof installations.</p>
        <p>There are many parts on your roof that are vulnerable to the weather conditions during all seasons. Shingles, drain pipes, roof tiles and other parts of your roof need regular maintenance to avoid further problems with them. Even a single shingle may cause leaks from your roof when you least expect it. Replacing of shingles will fix the problem and protect your roof from further damage or complete collapse. If you have such a problem or a fear of heights, the right solution for you is to contact a reliable roofer. The easiest way to find one if you live in San Diego, CA is to call TA Marsh Roofing company. We have the knowledge and experience you need, when you have problems with your roof.</p>
        <p>Our experience as a Roofing, General and Prime Contractor as well as Forensic Consultant/Expert Witness provides a wealth of knowledge to assist you in your roofing construction and consulting projects or cases. Our intention is to provide you with a pleasant effortless experience for your project or case. We maintain a staff of skilled roofers, sheet metal, carpenters and inspectors for construction defect and non litigation inspections. We provide services for Commercial, Industrial and Residential projects. Our areas of service include California, Arizona and Nevada. We provide inspections for sale and purchase of Commercial, Industrial and Residential properties. Our scope of work ranges from small repairs to multimillion dollar projects.</p>
        <h4>Give us a  <abbr title="Phone">call</abbr> (619) 669-1600</h4>
        <p>
          <a class="btn btn-primary btn-lg" href="/reviews">See what others are saying &raquo;</a>
        </p>
      </div>
      <div class="col-sm-4">
        <p class="mt-4" id="consultation">Request your <strong>FREE</strong> consultation</p>
        <div id="box" class="row">
          <form action="/user" method="post">
              <div class="form-group">
                  <input class="form-control" type="text" name="name" placeholder="Name">
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" name="email" placeholder="email@yourmail.com">
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" name="phone" placeholder="Phone #">
              </div>
              <div class="form-group">
                  <textarea class="form-control" rows="3" name="comment">I would like my free initial consultation!</textarea>
              </div>
              <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
