<main role="main">

      <section class="jumbotron text-center landing">
        <div class="container">
          <h1 class="jumbotron-heading">WOO HOOO!</h1>
          <p class="lead text-muted">Thanks for your interest. I'll be getting in touch with you soon!</p>
          <p>
            <a href="/me" class="btn btn-success my-2">go back</a>
          </p>
        </div>
      </section>

    </main>