<div class="ui container">
  <div class="ui top attached segment box">
    <h2>Your User Profile</h2>
    <hr>
    <form class="ui form">
      <div class="field">
        <label>USER NAME:</label>
        <input type="text" value={{user.username}}>
      </div>
      <div class="field">
        <label>EMAIL:</label>
        <input type="text" value={{user.email}}>
      </div>
      <button class="ui orange button">Edit Profile</button>
    </form>
  </div>
</div>