* {
  font-family: 'Roboto Slab', serif;
}

body {
  padding-top: 7rem;
}

.main-content {
  padding-top: 7rem;
}

address {
  text-align: right;
}

#contact {
  text-align: right;
}

.card-title {
  text-align: center;
}

.more-button {
  float: right;
}

.nav-link {
  font-size: 1.75rem;
}

.resize-img {
  height: 500px;
}

.carousel-control-prev-icon {
  margin-top: 50%;
}

.carousel-control-next-icon {
  margin-top: 50%;
}
