html, body {
  background: #fcfbf7;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  padding-top: 2.5rem;
}

.logo {
 font-size: 4rem;
}


.ui.stacked.segment:after {
  content: none;
}

.ui.top.attached.segment.box {
  margin: auto;
  width: 50%;
}

.landing {
  margin: auto;
  width: 50%;
  padding: 2rem; 
}

.box h2 {
  text-align: center;
}

@media only screen and (max-device-width:480px){
  .landing {
    margin: auto;
    width: auto;
    padding-top: 25%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .ui.top.attached.segment.box {
    width: auto;
  }

}