html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #4b83b2;
  font-family: 'Roboto', sans-serif;
}

.btn {
  margin: auto 5px;
}

.black {
  background-color: black;
}

.grey {
  text-align: center;
  background-color: #e9ecef;
  padding-top: 3rem;
  height: 300px;
  width: 66%;
}

#navlogo {
  margin: 0 auto;
}

@media only screen and (max-device-width:480px){
}



@media only screen and (max-width: 700px) {
}